*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    border:0;
    outline: none;
} 
.container{
    margin:0 auto;
    width: 1200px;
    
}
input{
    width: 100%;
    height: 100%;

}
.topLinks ul{
    list-style: none;
    display: flex;
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-end;
    padding-top:14px ;
    
}
.topLinks ul li{
    
    padding:0 0 0 20px ;

}
.topLinks ul a{
    text-decoration: none;
    cursor: pointer;
}
.topLinks ul :nth-child(5) >a {
    color:red;
}
.HeaderIndex{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}
.HeaderIndex .HBLogo{
    width: 262px;
    height: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.SearchBar{
    display: flex;
    width: 605px;
    height: 64px;
    
    padding-top: 1rem;
    
}
.Searchbarleft{
    display: flex;
    width: 100%;
    align-items: center;
    border:2px solid #919191;
    border-radius: 4px 0 0 4px;
}
.searchSvg{
    padding: 0 1rem;
}
.searchinput{
    width: 100%;
    height: 100%;
}
.searchBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    height: 100%;
    color: #fff;
    
    background-color:#919191 ;
    
}

.customer{
    display: flex;
    flex-grow: 1;
    height: 64px;
    justify-content: flex-end;
    background-color: pink;
    padding-top: 16px;
    gap: 12px;
    
}
.headerbtn{
    border: 2px solid #919191;
    margin-left: 12px;
    display: flex;
    font-size: 15px;
    
}
.accountbtn{
    position: relative;
    padding: 9px 10px 6px 47px;
    border-radius: 5px;
    background-repeat: no-repeat;
}
.accountbtn ::before{
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid' width='20' height='20' fill='%23919191'%3E%3Cpath d='M20 16.333C20 18.123 18.406 20 16.667 20H3.333C1.594 20 0 18.123 0 16.333c0-3.943 2.594-6.048 6.038-6.888C4.774 8.918 3.987 7.935 4 6.111 4.024 2.786 6.692.01 10.003.01 13.315.01 16 2.786 16 6.111c0 1.825-.827 2.794-2.104 3.316 3.477.829 6.104 2.937 6.104 6.906zM14 5.5C14 3.567 12.209 2 10 2S6 3.567 6 5.5 7.791 9 10 9s4-1.567 4-3.5zM10 11c-4.17 0-8 1.255-8 4.667C2 16.805 3.275 18 4.667 18h10.666C16.725 18 18 16.805 18 15.667 18 12.255 14.17 11 10 11z' class='cls-2' fill-rule='evenodd'/%3E%3C/svg%3E");
    position: absolute;
    top:50%;
    transform: translate(-2rem,-50%);
}
.accountbtn ::after{
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='7' fill='none'%3E%3Cpath data-name='next arrow copy' d='M14 1l-2-1-5 4-5-4-2 1 7 6z' fill='%23919191' fill-rule='evenodd'/%3E%3C/svg%3E");
    position: absolute;
    top:50%;
    transform: translate(-2rem,-50%);

    
}
.accountbtncont{
    display: flex;
    flex-direction: column;
    
}
.accountbtncont :nth-child(2){
    font-size: 10px;
}

.colorfulBand{
    height: 8px;
    width: 100%;
    display: flex;
    
}
.colorfulBand .color1{
    width: 11%;
    background: #7622da;
}
.colorfulBand .color2{
    width: 18%;
    background: #47c6eb;
}
.colorfulBand .color3{
    width: 31%;
    background: #ed5f1f;
}
.colorfulBand .color4{
    width: 15%;
    background: #f59f28;
}
.colorfulBand .color5{
    width: 13%;
    background: #6b1e5b;
}
.colorfulBand .color6{
    width: 12%;
    background: #45b794;
}