*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    border:0;
    outline: none;
} 
.container{
    margin:0 auto;
    width: 1200px;
    
}
input{
    width: 100%;
    height: 100%;

}
.topLinks ul{
    list-style: none;
    display: flex;
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-end;
    
}
.topLinks ul li{
    
    padding:0 0 0 20px ;

}
.topLinks ul a{
    text-decoration: none;
    cursor: pointer;
}
.topLinks ul :nth-child(5) >a {
    color:red;
}
.HeaderIndex{
    /* background-color: lightpink; */
    flex-grow: 1;

    display: flex;
    align-items: center;
}
.HeaderIndex .HBLogo{
    width: 262px;
    height: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.SearchBar{
    display: flex;
    width: 605px;
    height: 64px;
    
    padding-top: 1rem;
    
}
.Searchbarleft{
    display: flex;
    width: 100%;
    align-items: center;
    border:2px solid #919191;
    border-radius: 4px 0 0 4px;
}
.searchSvg{
    padding: 0 1rem;
}
.searchinput{
    width: 100%;
    height: 100%;
}
.searchBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    height: 100%;
    color: #fff;
    
    background-color:#919191 ;
    
}
.colorfulBand{
    height: 8px;
    width: 100%;
    background: chartreuse;
    display: flex;
}
.colorfulBand .color1{
    width: 11%;
    background: #7622da;
}
.colorfulBand .color2{
    width: 18%;
    background: #47c6eb;
}
.colorfulBand .color3{
    width: 31%;
    background: #ed5f1f;
}
.colorfulBand .color4{
    width: 15%;
    background: #f59f28;
}
.colorfulBand .color5{
    width: 13%;
    background: #6b1e5b;
}
.colorfulBand .color6{
    width: 12%;
    background: #45b794;
}