*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    border:0;
    outline: none;
} 
.container{
    margin:0 auto;
    width: 1200px;
    
}
input{
    width: 100%;
    height: 100%;

}
.topLinks ul{
    list-style: none;
    display: flex;
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-end;
    padding-top:14px ;
    
}
.topLinks ul li{
    
    padding:0 0 0 20px ;

}
.topLinks ul a{
    text-decoration: none;
    cursor: pointer;
}
.topLinks ul :nth-child(5) >a {
    color:red;
}
.HeaderIndex{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}
.HeaderIndex .HBLogo{
    width: 262px;
    height: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.SearchBar{
    display: flex;
    width: 605px;
    height: 64px;
    
    padding-top: 1rem;
    
}
.Searchbarleft{
    display: flex;
    width: 100%;
    align-items: center;
    border:2px solid #919191;
    border-radius: 4px 0 0 4px;
}
.searchSvg{
    padding: 0 1rem;
}
.searchinput{
    width: 100%;
    height: 100%;
}
.searchBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    height: 100%;
    color: #fff;
    cursor: pointer;
    background-color:#919191 ;
    
}

.customer{
    display: flex;
    flex-grow: 1;
    height: 64px;
    justify-content: flex-end;
    
    padding-top: 16px;
    gap: 12px;
    
}
.headerbtn{
    border: 2px solid #919191;
    margin-left: 12px;
    display: flex;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;

}
.accountbtn{
    position: relative;
    padding: 9px 10px 6px 47px;
    width: 157px;
}
.accountbtn ::before{
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid' width='20' height='20' fill='%23919191'%3E%3Cpath d='M20 16.333C20 18.123 18.406 20 16.667 20H3.333C1.594 20 0 18.123 0 16.333c0-3.943 2.594-6.048 6.038-6.888C4.774 8.918 3.987 7.935 4 6.111 4.024 2.786 6.692.01 10.003.01 13.315.01 16 2.786 16 6.111c0 1.825-.827 2.794-2.104 3.316 3.477.829 6.104 2.937 6.104 6.906zM14 5.5C14 3.567 12.209 2 10 2S6 3.567 6 5.5 7.791 9 10 9s4-1.567 4-3.5zM10 11c-4.17 0-8 1.255-8 4.667C2 16.805 3.275 18 4.667 18h10.666C16.725 18 18 16.805 18 15.667 18 12.255 14.17 11 10 11z' class='cls-2' fill-rule='evenodd'/%3E%3C/svg%3E");
    position: absolute;
    left: 17px;
    top: 11px;
    background-position: 50%;
    /* top:50%;
    transform: translate(-2rem,-50%); */
}
.accountbtn .accountbtncont::after{
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='7' fill='none'%3E%3Cpath data-name='next arrow copy' d='M14 1l-2-1-5 4-5-4-2 1 7 6z' fill='%23919191' fill-rule='evenodd'/%3E%3C/svg%3E");
    position: absolute;
    
    top:14px;
    right:15px;
    
    
}
.accountbtncont{
    display: flex;
    flex-direction: column;
    
    
}
.accountbtncont :nth-child(2){
    font-size: 10px;
}
.basketbtn{
    position: relative;
    width: 136px;
    padding: 15px 24px 14px 54px;
    background-color: rgb(145, 145, 145);
}
.basketbtn::before{
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath data-name='basket icon' d='M19 7c.03-.719-.31-2.031-1.44-2H6.72l-.81-2.806A1.6 1.6 0 004.48 1H2.01A.879.879 0 001 1.981v.193a.956.956 0 001.19.887h.89l1.76 6.276A2.174 2.174 0 007 11h9a2.155 2.155 0 002-1zM6.01 17.5a1.5 1.5 0 101.5-1.5 1.5 1.5 0 00-1.5 1.5zm7 0A1.49 1.49 0 1014.5 16a1.5 1.5 0 00-1.49 1.5z' fill='%23fff' stroke='%23fff' stroke-width='2' fill-rule='evenodd'/%3E%3C/svg%3E");
    position: absolute;
    top: 12px;
    left: 18px;
}


.colorfulBand{
    height: 8px;
    width: 100%;
    display: flex;
    
}
.colorfulBand .color1{
    width: 11%;
    background: #7622da;
}
.colorfulBand .color2{
    width: 18%;
    background: #47c6eb;
}
.colorfulBand .color3{
    width: 31%;
    background: #ed5f1f;
}
.colorfulBand .color4{
    width: 15%;
    background: #f59f28;
}
.colorfulBand .color5{
    width: 13%;
    background: #6b1e5b;
}
.colorfulBand .color6{
    width: 12%;
    background: #45b794;
}

.menu{
    width: 100%;
    height: 56px;
    background-color: #f5f5f5;
    line-height: 18.4px;
}
.menuItems{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.menu ul li{
    height: 56px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
     
/*     margin-top: 10px;
    margin-left: 40px; */
}
.menu ul li::before{
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 1px;
    height: 24px;
    background-color: #e5e5e5;
}

.menuItems span{
    padding: 0 22px;
    color: #646464;
}

.Herousel{
    height: 540px;
    background-color: rgb(139,166,98);
    display: flex;
    justify-content: center;
    

}
.HerouselBucket{
    height: 60px;
    width: 100%;
    display: flex;
    padding: 18px 0 13px;
    justify-content: center;
    align-items: center;
    
}
.HerouselBcktItem{
    position: relative;
    padding: 8px 16px;
    margin: 0 12px;
    color: #fff;
}
.HerouselBcktItem:hover{
    
    background-color: #fff;
    border-radius: 20px;
    color: #484848;
}
.HerouselBcktItem span{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    transition: all .2s ease-in 0s;
    cursor: pointer;
}
.HerouselBcktItem:hover:after{
    content: "";
    position: absolute;
    left: calc(50% - 8px);
    width: 0;
    height: 0;
    border-top: 8px solid #fff;
    border-left: 8px solid rgba(0,0,0,0);
    border-right: 8px solid rgba(0,0,0,0);
    bottom: -5px;
    cursor: default;
}